.paper .background {
  fill: rgb(237, 237, 237);
}
.paper .node {
  fill: rgb(209, 218, 180);
  stroke-width: 1;
  stroke: rgb(0, 0, 0);
}
.paper #group-background-0, .paper #group-background-1, .paper #group-background-2 {
  fill: rgb(195, 215, 232);
}
.paper #group-background-3, .paper #group-background-4, .paper #group-background-5, .paper #group-background-6 {
  fill: rgb(164, 193, 219);
}
.paper #group-background-7 {
  fill: rgb(110, 155, 197);
}
.paper #group-background-8 {
  fill: rgb(225, 235, 243);
}
.depend {
  fill: none;
  stroke: black;
  stroke-width: 1;
}
